<% layout('layouts/boilerplate') %>
<div class="container"><div class="row mb-5">
  <h1 class="text-center">Edit Landmark</h1>
  <div class="col-md-6 offset-3">
    <form
      action="/landmarks/<%=landmark._id%>?_method=PUT"
      method="POST"
      class="form-validation"
      novalidate
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          name="landmark[title]"
          id="title"
          value="<%=landmark.title %> "
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          name="landmark[location]"
          id="location"
          value="<%=landmark.location %> "
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label for="formFileMultiple" class="form-label">Upload Images</label>
        <input
          type="file"
          class="form-control"
          id="formFileMultiple"
          name="image"
          multiple
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="row">
        <div class="mb-3 col-md-6">
          <label class="form-label" for="price">landmark Price</label>
          <div class="input-group">
            <span class="input-group-text" id="price-label">₹</span>
            <input
              type="text"
              class="form-control"
              placeholder="0.00"
              aria-label="price-label"
              aria-describedby="price-label"
              id="price"
              name="landmark[price]"
              value="<%=landmark.price%> "
              required
            />
            <div class="valid-feedback">Looks good!</div>
          </div>
        </div>
        <div class="mb-3 col-md-6">
          <label class="form-label" for="category">Category</label>
          <div class="input-group">
            <select
              class="form-select"
              aria-label="Default select example"
              id="category"
              name="landmark[category]"
              required
            >
              <% for(let cat of categories) {%>
              <option value="<%=cat%>" <%=cat == landmark.category ? 'selected' : '' %> >
                <%=cat.toUpperCase()[0]%><%=cat.substring(1)%>
              </option>
              <% } %>
            </select>
            <div class="valid-feedback">Looks good!</div>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          type="text"
          name="landmark[description]"
          id="description"
          required
        >
<%=landmark.description %></textarea
        >
        <div class="valid-feedback">Looks good!</div>
      </div>

      <h5>Delete Images</h5>
      <div class="row row-cols-1 row-cols-md-4 g-4 mb-3">
        <% landmark.images.forEach((image, i) => { %>
        <div class="col">
          <div class="card">
            <img class="card-img" src="<%= image.thumbnail %>" alt="" />
            <div class="card-img-overlay text-end pt-1 pe-2">
              <label class="visually-hidden" for="image-<%= i %>"
                >Delete Image</label
              >
              <input
                class="form-check-input"
                type="checkbox"
                name="deleteImages[]"
                value="<%= image.filename %>"
                id="image-<%= i %>"
              />
            </div>
          </div>
        </div>
        <% }) %>
      </div>

      <div class="mb-3">
        <button class="btn btn-info" type="submit">Update landmark</button>
      </div>

      <a href="/landmarks/<%=landmark._id%>">Back to landmark</a>
    </form>
  </div>
</div>
</div>