<% layout('layouts/boilerplate') %>
<div id="cluster-map"></div>
<div class="row mx-3">
  <div class="col-md-6">
<div class="row mt-10 mb-3 position-relative temp">
  <div class="col-md-4 me-auto">
    <h1 class="text-dark">Landmarks</h1>
  </div>
</div>
<form action="/landmarks">
  <div class="row position-relative">
    <div class="input-group col">
      <div class="input-group mb-3">
        <input
        id="search"
          type="text"
          class="form-control"
          name="search"
          placeholder="Search"
          aria-label="search"
          aria-describedby="button-addon2"
          value="<%=search %>"
          required
        />
        <button
          class="btn btn-secondary btn-lg"
          type="submit"
          id="button-addon2"
        >
          Search
        </button>
      </div>
    </div>
    <div class="col-md-3">
      <select
      id="category"
        class="form-select form-select-lg mb-3 btn btn-lg btn-secondary"
        aria-label=".form-select-lg example"
        onchange="this.form.submit()"
        name="category"
      >
        <% for(let cat of categories) { %>
        <option value="<%=cat%>" <%=category == cat ? 'selected' : ''%>  ><%=cat.toUpperCase()[0]%><%=cat.substring(1)%></option>

        <% } %>
      </select>
    </div>
  </div>
</form>

<% for(let i = 0; i< landmarks.length; i++) {%>
<div class="card mb-3">
  <div class="row">
    <div class="col-md-6">
      <% if(landmarks[i].images.length > 0) {%>
      <img src="<%=landmarks[i].images[0].cover%> " alt="" class="img-fluid"  />
      <% }else{ %>
      <img
        src="https://cdn.allmissoula.com/images/content/20143_55e874_gros_ventre_landmark_lg.jpg"
        alt=""
        class="img-fluid"
      />
      <% } %>
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title"><%=landmarks[i].title %></h5>
        <p class="card-text"><%=landmarks[i].description.substring(0,300)%> ...</p>
        <p class="card-text">
          <small class="text-muted"><%=landmarks[i].category.toUpperCase()  %> - <%=landmarks[i].location %> </small>
        </p>
        <a class="btn btn-primary" href="/landmarks/<%=landmarks[i]._id%>"
          >View <%=landmarks[i].title %>
        </a>
      </div>
    </div>
  </div>
</div>
<% } %>
</div>
</div>
<script>

  const page  =1;
  const mapToken = `<%-process.env.MAPBOX_TOKEN%>`;
  const tmp = JSON.parse(`<%- JSON.stringify(landmarks) %>`);
  // console.log(tmp);
  const cmp = tmp.map((land) => {
    const img = land.images[0].url.replace(
      "/upload",
      "/upload/c_scale,h_100,q_auto,r_0,w_200"
    );
    land.properties = {
      popUpMarkup: `
      <img src="${img}" alt="" style : "height:20px; width 20px;">
  <strong><a href="/landmarks/${land._id}">${land.title}</a><strong>
  <p>${land.description.substring(0, 30)}...</p>`,
    };
    return land;
  });
  const landmarks = { features: tmp };
</script>
<script src="/javascripts/clusterMap.js"></script>
